
@use 'variables' as v;

html{
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *:before, *:after{
    box-sizing: inherit;
}

body{
    font-family: v.$fuenteSecundaria;
    font-size: 1.6rem;
    background-color: v.$cafeClaro;
}

h1, h2, h3{
    font-family: v.$fuente_principal;
    margin: 0 0 5rem 0;
    text-transform: uppercase;
    line-height: 1.5;
}

h1{
    font-size: 4rem;
}

h2{
    font-size: 3.6rem;
}

h3{
    font-size: 3.2rem;
}

p{
    color: v.$negro;
    font-size: 1.6rem;
    line-height: 2;
}

[class$="__contenedor"]{
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
}

a{
    text-decoration: none;
    color: v.$negro;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
